apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: web
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        name: web
        app: web-app
    spec:
      containers:
        - image: {{ IMAGE_URL }}:{{ TAG }}
          name: web
          ports:
          - containerPort: 3000
          resources:
            limits:
              cpu: 100m
              memory: 50Mi
            requests:
              cpu: 50m
              memory: 10Mi
      restartPolicy: Always
