apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: blink-location
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: <your-host-goes-here>
    http:
      paths:
      - backend:
          serviceName: web-svc
          servicePort: 80
